# Output directories
npm-starters/
github-starters/

# Node
node_modules/
.npm
.env

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store 

# Go
go/

analyzed-starters/
github-starters/
npm-starters/
cleaned-starters/
importable-starters/