# Output directories
npm-starters/
github-starters/

# Node
node_modules/
.npm
.env

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store 

# Go
go/

analyzed-starters/
github-starters/
npm-starters/
cleaned-starters/

# Build output
build/

# Environment variables
.env

# OS files
.DS_Store

# Remix site
remix-site/node_modules
remix-site/.cache
remix-site/build
remix-site/.env
remix-site/public/importable-starters